li.task {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: var(--spacing-sm);
    margin: var(--spacing-md);
    gap: var(--spacing-sm);

    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 24px,
    rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.task-name-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.countable-task-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: var(--spacing-sm);
}

.countable-task-actions > button {
    min-width: 75px;
    flex: 1;
}

.task > .app-progress {
    width: 100%;
}

.task-doable-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width: 65ch;
}
