html, body, p {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --clr-bg-main: #fff;
    --clr-bg-paper: #efefef;
    --clr-text-primary: #000;

    --spacing-small: 0.125em;
    --spacing-medium: 1em;
    --spacing-medium-plus: 2.5em;
    --spacing-large: 5em;

    --font-size-large: 1.2em;
}

nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    background-color: var(--clr-bg-paper);

    padding-right: var(--spacing-large);
    padding-left: var(--spacing-medium-plus);
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);

    font-size: var(--font-size-large);
}

a {
    color: var(--clr-text-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    height: 90vh;
}

.error {
    margin: var(--spacing-large);
}