.admin-page {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    > section {
        background-color: var(--clr-bg-subtle);
        padding: var(--spacing-md);
        box-shadow: var(--shadow-sm);
        border-radius: var(--border-radius-sm);
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        td.actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-xxs);

            button {
                height: 100%;
            }
        }
    }

    .pagination-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        gap: var(--spacing-md);
    }
}