main#home {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

p.subtle,
.chip.subtle {
    opacity: 0.75;
    font-weight: lighter;
    font-size: var(--text-sm);
    color: var(--clr-text-subtle);
}

#home-pending-invites {
    border-color: var(--clr-border-action);
    border-style: dashed;

    #home-pending-invites-header {
        background-color: var(--clr-action-subtle);

        padding: var(--spacing-md);

        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-xs);
        }
    }

    #home-pending-invites-list {
        list-style: none;
        background-color: var(--clr-bg-subtle);

        padding: var(--spacing-md);

        li {
            background-color: var(--clr-bg-default);

            padding: var(--spacing-xs);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .home-pending-invite-details {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xs);

                .home-pending-invite-title {
                    font-weight: bold;
                }

                .home-pending-invite-details-info {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);


                    p, .chip {
                        opacity: 0.75;
                        font-weight: lighter;
                        font-size: var(--text-sm);
                    }

                    .home-pending-invite-details-info-expires {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: var(--spacing-xs);
                    }
                }
            }

            .home-pending-invite-actions {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-xs);

                button {
                    padding-block: var(--spacing-xxs);
                }
            }

        }
    }
}

#home-worlds {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    .home-worlds-search-create {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: var(--spacing-sm);

        input {
            flex-grow: 1;
        }

        button {
            text-wrap: nowrap;
        }
    }

    ul#home-worlds-list {
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: var(--spacing-md);

        li {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);

            padding: var(--spacing-sm);

            background-color: var(--clr-bg-subtle);
            box-shadow: var(--shadow-md);

            .home-world-item-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .home-world-item-statistics {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            button {
                width: 100%;
                font-size: var(--text-sm);
                margin-block-start: var(--spacing-xs);
            }
        }
    }
}

#create-world-modal {
    label,
    button {
        margin-top: var(--spacing-sm);
    }
}