.profile-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    margin: var(--spacing-md);
}

#profile-section-user {
    flex-direction: column;
    gap: var(--spacing-md);
}

#profile-section-user > input {
    display: block;
}

#profile-section-connections {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.profile-section > button,
.profile-section > a,
.profile-section > a > button {
    width: 100%
}