main.project {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    .project-header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: var(--spacing-xs);
        }
    }

    .project-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .project-tasks-tab {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);

        .project-tasks {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-sm);

            .project-tasks-search-filter {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                gap: var(--spacing-xs);

                > input {
                    flex-grow: 1;
                }

                > select {
                    width: fit-content;
                    min-width: 20ch;
                }

                > button {
                    height: 100%;
                }
            }

            #project-create-action-task-form {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-sm);

                margin-top: var(--spacing-sm);

                input {
                    flex-grow: 1;
                }

                button {
                    height: 100%;
                }
            }

            > ul {
                list-style: none;

                > li {
                    background-color: var(--clr-bg-subtle);
                    box-shadow: var(--shadow-sm);

                    margin-top: var(--spacing-sm);
                    padding: var(--spacing-xs);

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .task-item-start,
                    .task-item-end {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: var(--spacing-xs);
                    }
                }
            }
        }

        .project-tasks-progress {
            background-color: var(--clr-bg-subtle);
            padding: var(--spacing-sm);
        }
    }
}

.project-resources-tab {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}

.project-resources-collection,
.project-resources-production {
    width: 100%;
    background-color: var(--clr-bg-subtle);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-sm);
    border-radius: var(--border-radius-sm);
}

.project-resources-collection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    .project-resources-collection-summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: var(--shadow-md);
        padding: var(--spacing-sm);

        gap: var(--spacing-sm);

        font-size: var(--text-sm);

        .project-resources-collection-summary-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: var(--spacing-lg);

            p {
                text-wrap: nowrap;
            }

            .app-progress-container {
                flex-grow: 1;
            }
        }

        .project-resources-collection-summary-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-sm);

            .item-requirement-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: var(--spacing-xs);
            }
        }
    }
}

.project-resources-production {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    ul {
        list-style: none;

        li {
            margin-top: var(--spacing-xs);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-sm);

            &:has(button:hover) .production-item-start {
                border-bottom: 2px solid var(--clr-danger-hover);
            }
        }
    }
}

#project-resources-production-form,
#project-resource-gathering-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);

    margin-top: var(--spacing-sm);

    input,
    select {
        flex-grow: 1;
    }

    button {
        height: 100%;
    }
}

.project-location-tab {
    background-color: var(--clr-bg-subtle);
    box-shadow: var(--shadow-md);

    padding: var(--spacing-sm);

    .project-location-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-bottom: var(--spacing-sm);
    }

    .location-details {
        .coordinate-details,
        .dimension {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-sm);

            margin-top: var(--spacing-sm);
        }

        .coordinate-value {
            font-size: var(--text-md);
            font-weight: bold;
        }
    }

    .project-location-edit {
        button#save-location {
            margin-top: var(--spacing-sm);
        }

        #project-location-dimension-select {
            width: fit-content;
        }
    }
}

.stages-tab {
    background-color: var(--clr-bg-subtle);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-sm);
    border-radius: var(--border-radius-sm);
    width: 100%;

    .stages-list {
        list-style: none;

        .stage-item.upcoming {
            opacity: 0.5;
        }

        .stage-item {
            position: relative;
            padding-inline-start: var(--spacing-xl);

            margin-block-end: var(--spacing-lg);

            .stage-icon {
                position: absolute;
                left: 0;
                top: 0;

                width: calc(48px + var(--spacing-xs));
                height: calc(48px + var(--spacing-xs));
                border-radius: var(--border-radius-full);

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: var(--clr-action);
            }
        }

        .related-tasks {
            list-style-type: disc;
        }
    }
}

.dependencies-tab {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}

.project-dependencies,
.project-dependents {
    flex-grow: 1;
    background-color: var(--clr-bg-subtle);
    padding: var(--spacing-md);
    box-shadow: var(--shadow-sm);
    border-radius: var(--border-radius-sm);

    ul {
        list-style: none;

        padding-block-end: var(--spacing-sm);
        margin-block-end: var(--spacing-sm);

        border-bottom: 1px solid var(--clr-border-subtle);

        li {
            margin-block: var(--spacing-sm);
            padding: var(--spacing-xs);
            border: 1px solid var(--clr-border-subtle);
            border-radius: var(--border-radius-md);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-xs);
        }
    }
}

.project-dependencies {
    .project-dependencies-header,
    .project-dependency-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-md);

        margin-bottom: var(--spacing-sm);
    }

    .project-dependencies-header-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
        .none-available {
            text-align: end;
        }
    }

    .dependency-item-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-xs);
    }
}

.create-task-form {
    input,
    select,
    .priority-group,
    .task-requirements-tabs,
    .add-requirement-button,
    .requirements-list {
        margin-block-end: var(--spacing-sm);
    }

    .priority-group {
        display: flex;
        flex-direction: row;
        align-items: center;

        > label,
        > input[type="radio"]{
            margin-right: var(--spacing-xxs);
        }
    }

    .task-requirements-tabs,
    .add-requirement-button {
        width: 100%;
    }

    .task-requirements-tabs > button {
        flex-grow: 1;
    }

    .requirement-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding: var(--spacing-xs);
        margin-bottom: var(--spacing-xxs);

        border: 1px solid var(--clr-border-subtle);
        border-radius: var(--border-radius-md);
    }

    #requirement-template {
        display: none;
    }
}

.project-settings-tab {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    section {
        background-color: var(--clr-bg-subtle);
        box-shadow: var(--shadow-sm);
        border-radius: var(--border-radius-sm);
        padding: var(--spacing-md);
    }

    h2, form > input, form > select {
        margin-block-end: var(--spacing-sm);
    }
}