.world-form {
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-md);
    border: 1px solid var(--clr-bg-dark);
    border-radius: 8px;
    background-color: var(--clr-bg-light);

    width: min(100%, 600px);
}

.world-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    border: 1px solid var(--clr-bg-dark);
    border-radius: 8px;
    transition: background-color 0.3s;

    &:hover:not(.button-danger:hover) {
        background-color: var(--clr-primary-light);
        cursor: pointer;
    }

    &:last-child {
        margin-bottom: 0;
    }

    > span {
        flex-grow: 1;
        text-align: left;
    }

    .button-danger {
        margin-left: var(--spacing-sm);
        background-color: var(--clr-danger);
        color: white;
        border: none;
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--clr-danger-warning);
        }
    }
}