a {
    color: var(--clr-text-action);
    text-decoration: none;
    transition: color 0.2s ease, border-bottom 0.2s ease;
    border-bottom: 1px solid var(--clr-global-transparent);
    padding-bottom: 2px;
}

a:hover {
    color: var(--clr-text-action-hover);
    border-bottom: 1px solid var(--clr-text-action-hover);
}

a:visited {
    color: var(--clr-text-visited);
}

a:active {
    color: var(--clr-text-action-selected);
    border-bottom: 1px solid var(--clr-border-action-selected);
}

a:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
    border-radius: var(--border-radius-sm);
}

a.subtle {
    color: var(--clr-text-subtle);
    background-color: var(--clr-global-transparent);
    opacity: 80%;
}

a.subtle:hover {
    color: var(--clr-text-action);
    background-color: var(--clr-action-subtle);
    border-radius: var(--border-radius-md);
}

a.danger {
    color: var(--clr-text-danger);
}

a.danger:hover {
    color: var(--clr-danger-hover);
    border-bottom: 1px solid var(--clr-border-danger);
}

span.link-disabled {
    color: var(--clr-text-subtle);
    cursor: not-allowed;
    pointer-events: none;
    border-bottom: none;
}

span.link-disabled:hover {
    cursor: not-allowed;
}