button {
    border: none;
    border-radius: var(--border-radius-md);
    padding-inline: var(--spacing-sm);
    padding-block: var(--spacing-xs);

    text-wrap: nowrap;
    font-size: var(--text-sm);
}

button:has(svg) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xxs);

    :first-of-type(svg) {
        justify-self: start;
    }

    :last-of-type(svg) {
        justify-self: end;
    }
}

button:hover {
    cursor: pointer;
}

.btn-primary {
    color: var(--clr-text-on-action);
    background-color: var(--clr-action);
    border: 1px solid var(--clr-border-action);

    &:hover {
        background-color: var(--clr-action-hover);
        border-color: var(--clr-border-action-hover);
    }

    &:active {
        background-color: var(--clr-action-active);
        border-color: var(--clr-border-action-selected);
    }

    &:focus-visible {
        background-color: var(--clr-action-selected);
        border-color: var(--clr-border-action-selected);
    }

    &:focus-visible :hover {
        background-color: var(--clr-action-selected-hover);
        border-color: var(--clr-border-action-selected);
    }
}

.btn-secondary {
    color: var(--clr-text-on-neutral);
    background-color: var(--clr-neutral);

    &:hover {
        background-color: var(--clr-neutral-hover);
    }

    &:active {
        background-color: var(--clr-neutral-active);
    }

    &:focus-visible {
        background-color: var(--clr-neutral-selected);
    }

    &:focus-visible :hover {
        background-color: var(--clr-neutral-selected);
    }
}

.btn-danger {
    color: var(--clr-text-on-danger);
    background-color: var(--clr-danger);
    border: 1px solid var(--clr-border-danger);

    &:hover {
        background-color: var(--clr-danger-hover);
    }

    &:active {
        background-color: var(--clr-danger-active);
    }

    &:focus-visible {
        background-color: var(--clr-danger-active);
    }

    &:focus-visible :hover {
        background-color: var(--clr-danger-active);
    }
}

.btn-icon {
    aspect-ratio: 1 / 1;
    padding: var(--spacing-xxs);
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}