dialog {
    align-self: center;
    justify-self: center;

    padding: var(--spacing-lg);
    background-color: var(--clr-bg-light);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px, rgba(0, 0, 0, 0.1) 0 1px 3px;
    width: clamp(300px, 50%, 600px);
    margin: auto;
}