.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

.icon-small {
    width: 24px;
    height: 24px;
}

.icon-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
}

.icon-back {
    background-image: url("/static/icons/Back_48x48.svg");
}

.icon-menu {
    background-image: url("/static/icons/Menu_48x48.svg");
}

.icon-menu-add {
    background-image: url("/static/icons/Menu_Add_48x48.svg");
}

.icon-filter {
    background-image: url("/static/icons/Filter_List_48x48.svg");
}

.icon-menu-worlds,
.icon-dimension-overworld {
    background-image: url("/static/icons/dimensions/Overworld_48x48.svg");
}

.icon-dimension-nether {
    background-image: url("/static/icons/dimensions/Nether_48x48.svg");
}

.icon-dimension-the-end {
    background-image: url("/static/icons/dimensions/End_48x48.svg");
}

.icon-priority-low {
    background-image: url("/static/icons/priority/Low_48x48.svg");
}

.icon-priority-medium {
    background-image: url("/static/icons/priority/Medium_48x48.svg");
}

.icon-priority-high {
    background-image: url("/static/icons/priority/High_48x48.svg");
}

.icon-menu-profile,
.icon-user {
    background-image: url("/static/icons/users/Profile_48x48.svg");
}

.icon-user-small {
    background-image: url("/static/icons/users/Profile_24x24.svg");
}

.icon-menu-users,
.icon-users {
    background-image: url("/static/icons/users/Group_48x48.svg");
}

.icon-user-add {
    background-image: url("/static/icons/users/Add_48x48.svg");
}

.icon-world-add {
    background-image: url("/static/icons/Add_World_48x48.svg");
}

.icon-menu-projects {
    background-image: url("/static/icons/menu/Projects_48x48.svg");
}

.icon-microsoft {
    background-image: url("/static/icons/Microsoft_Logo_48x48.svg");
}

.icon-error {
    background-image: url("/static/icons/notification/Error_48x48.svg");
}

.icon-warning {
    background-image: url("/static/icons/notification/Warning_48x48.svg");
}

.icon-info {
    background-image: url("/static/icons/notification/Info_48x48.svg");
}

.icon-delete {
    background-image: url("/static/icons/Delete_48x48.svg");
}

.icon-delete-small {
    background-image: url("/static/icons/Delete_24x24.svg");
}