.menu-invisible {
    display: none;
}

.menu-visible {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1000;
    width: clamp(300px, 80vw, 800px);
    height: 100vh;

    padding-top: var(--spacing-sm);

    background: var(--clr-secondary);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-md)
}

#menu-close-button {
    padding-left: var(--spacing-sm);
}

.menu-visible > li {
    list-style: none;
    padding-left: var(--spacing-md);
}

.menu-selected,
.menu-visible > li:hover {
    text-decoration: underline;
}

.menu-visible > li > a {
    text-decoration: none;
}

.menu-visible > :has(#menu-profile-link) {
    margin-bottom: var(--spacing-md);
}

.menu-visible > hr {
    margin-top: auto;
    height: var(--spacing-xs);
    border: none;
    background-color: #00000044;
}