@keyframes progress-animation {
    from {
        width: 0;
    }
    to {
        width: var(--progress-value);
    }
}

.app-progress-container {
    position: relative;
    height: 30px;
    background-color: var(--clr-bg-default);
    border-radius: var(--border-radius-full);
    overflow: hidden;
    box-shadow: var(--shadow-md);
}

.app-progress-bar {
    height: 100%;
    background: linear-gradient(90deg, var(--clr-neutral) 0%, var(--clr-action) 100%);
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-text-default);
    font-weight: bold;
    border-radius: var(--border-radius-full) 0 0 var(--border-radius-full);
    animation: progress-animation 2s ease-out;
}

.app-progress-value {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: var(--clr-text-default);
    font-weight: bold;
}