.selected {
    color: var(--clr-primary);
    text-decoration: underline;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    text-decoration: underline;
}

.selectable-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);

    list-style: none;
}