.task-columns {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
}

.task-column {
    flex: 1;
    background-color: var(--clr-bg-secondary);
    border-radius: 5px;
    padding: var(--spacing-md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-column h3 {
    margin-top: 0;
    text-align: center;
    font-size: var(--text-lg);
    color: var(--clr-text);
}

.task-column ul {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: var(--clr-bg-light);
    border: 1px solid var(--clr-border);
    border-radius: 3px;
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.task:active {
    cursor: grabbing;
}

.task:hover {
    background-color: var(--clr-bg-secondary);
}