.task-columns {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
}

.task-column {
    flex: 1;
    background-color: var(--clr-bg-secondary);
    border-radius: 5px;
    padding: var(--spacing-md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    position: relative;
}

#add-doable-task-button,
#add-countable-task-button{
    position: absolute;
    top: 0;
    right: 0;

    scale: 50%;
}

.delete-task-button {
    position: absolute;
    top: 0;
    right: 0;
    scale: 50%;

    background-color: var(--clr-bg-secondary) !important;
}

.task-column h2 {
    margin-top: 0;
    text-align: center;
    font-size: var(--text-lg);
    color: var(--clr-text);

    position: relative;
}

.task-column ul {
    list-style-type: none;
    padding: 0;
}

.task {
    position: relative;
    background-color: var(--clr-bg-light);
    border: 1px solid var(--clr-border);
    border-radius: 3px;
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.task h3 {
    text-align: start;
    position: relative;
}

.task-priority {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    color: var(--clr-primary-dark);

    scale: 75%;
}

.task-content {
    margin-top: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.task-assignee {
    font-style: italic;
    color: var(--clr-text-secondary);
    display: flex;

    select {
        width: 100%;
    }
}

.task-add-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xxs);
}

.task-add-button {
    flex-grow: 1;
    padding: var(--spacing-xxs);
    font-size: var(--text-sm);
}

.task:active {
    cursor: grabbing;
}

.task:hover {
    background-color: var(--clr-bg-secondary);
}

.task-done {
    background-color: #d3ffd3;
    color: #006400;
}

.task-done h3 {
    text-decoration: line-through;
}

.task-done .task-add-buttons {
    display: none;
}