/* ==========================================================================
   COMMON COMPONENTS
   ========================================================================== */

.text-subtle,
p.subtle,
.chip.subtle {
    opacity: 0.75;
    font-weight: lighter;
    font-size: var(--text-sm);
}

.notice {
    overflow: hidden;
}
