/*https://coolors.co/797553-0a2e36-f7f7f7-14cc60-efefef*/

@font-face {
    font-family: Roboto Mono Light;
    src: url("/static/fonts/Roboto_Mono/static/RobotoMono-Light.ttf");
}

@font-face {
    font-family: Roboto Mono Regular;
    src: url("/static/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: Roboto Mono Medium;
    src: url("/static/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf");
}

@font-face {
    font-family: Roboto Mono Bold;
    src: url("/static/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/static/fonts/microsoft/Segoe UI.woff') format('woff');
}

:root {
    --font-primary: "Roboto Mono Regular", sans-serif;

    --text-base-size: 16px;
    --text-scale-ratio: 1.1;

    /* type scale */
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    --clr-primary: #3498db;
    --clr-primary-light: #85c1e9;
    --clr-primary-dark: #0056b3;
    --clr-secondary: #2ecc71;

    --clr-danger: #e74c3c;
    --clr-danger-warning: #e67e22;
    --clr-warning: #f1c40f;
    --clr-success: #27ae60;

    --clr-bg-dark: #34495e;
    --clr-bg-light: #ecf0f1;
    --clr-bg-secondary: #f0f0f0;

    --clr-text: #333333;
    --clr-text-light: #ffffff;
    --clr-text-secondary: #555555;

    --clr-input: #f7f9fa;
    --clr-border: #dcdcdc;

    --spacing-baseline: 2em;

    /* spacing values */
    --spacing-xxs:   calc(var(--spacing-baseline) / 4);
    --spacing-xs:   calc(var(--spacing-baseline) / 3);
    --spacing-sm:   calc(var(--spacing-baseline) / 2);
    --spacing-md:   var(--spacing-baseline);
    --spacing-lg:   calc(var(--spacing-baseline) * 2);
    --spacing-xl:   calc(var(--spacing-baseline) * 3);

    /* Media query values */
    --media-lg: 1024px;

    /* Other values */
    --navbar-height: calc(48px + var(--spacing-sm));
    --progress-value: 0;
}

html {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--text-base-size);

    background-color: var(--clr-bg-light);
    color: var(--clr-text);
}

h1 {
    font-size: var(--text-xxl);
    font-family: "Roboto Mono Bold", sans-serif;
}

h2 {
    font-size: var(--text-xl);
    font-family: "Roboto Mono Medium", sans-serif;
}

h3, button {
    font-size: var(--text-lg);
    font-family: "Roboto Mono Regular", sans-serif;
}

p, label {
    font-size: var(--text-md);
    font-family: "Roboto Mono Light", sans-serif;
}

caption {
    font-size: var(--text-sm);
    font-family: "Roboto Mono Light", sans-serif;
}