:root {
    --navbar-height: calc(var(--text-xxl) + 25px);
}

body {
    background-color: var(--clr-bg-light);
    color: var(--clr-text);

    height: 100vh;
}

body * {
    color: inherit;
}

/******** BUTTON ********/

button {
    background-color: var(--clr-primary);
    cursor: pointer;
}

button.button-secondary {
    background-color: transparent;
    border: 1px solid var(--clr-primary);
}

button.button-danger {
    background-color: var(--clr-danger);
    color: var(--clr-bg-light);
}

/******** Input -> Checkbox ********/

input[type="checkbox"] {
    transform: scale(3);
}

/******** NAVBAR ********/

nav {
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--clr-secondary);
}

/******** MENU ********/

.menu-invisible {
    display: none;
}

.menu-visible {
    position: absolute;
    top: 0;
    left: 0;

    width: clamp(300px, 33vw, 800px);
    height: 100vh;

    background: var(--clr-secondary);

    display: flex;
    flex-direction: column;
}

.menu-visible > li {
    list-style: none;
}

.menu-visible > li > a {
    text-decoration: none;
}

.menu-visible:nth-last-child(2) {
    border-top: 3px solid black;
}

/******** MAIN ********/

main {
    display: flex;
    flex-direction: column;
}

/******** PROFILE ********/

.profile-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    margin: var(--spacing-lg);
}

#profile-section-user {
    flex-direction: row;
    gap: var(--spacing-lg);
}

#profile-section-user > input {
    display: block;
}

#profile-section-connections {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-section > button,
.profile-section > a,
.profile-section > a > button {
    width: 100%
}

/******** **** ********/




