body {
    background-color: var(--clr-bg-light);
    color: var(--clr-text);

    height: 100vh;
}

body * {
    color: inherit;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}