:root {
    --navbar-height: calc(var(--text-xxl) + 25px);
}

body {
    background-color: var(--clr-bg-light);
    color: var(--clr-text);

    height: 100vh;
}

body * {
    color: inherit;
}

/******** SELECTED ********/

.selected {
    color: var(--clr-primary);
    text-decoration: underline;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    text-decoration: underline;
}

.selectable-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-lg);

    list-style: none;
}

/******** MAIN ********/

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/******** BUTTON ********/

button {
    border: none;
    background-color: var(--clr-primary);
    cursor: pointer;
    padding-block: var(--spacing-sm);
}

button.button-secondary {
    background-color: transparent;
    border: 1px solid var(--clr-primary);
}

button.button-danger {
    background-color: var(--clr-danger);
    color: var(--clr-bg-light);
}

button.button-icon {
    background-color: transparent;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
}

/******** Icons ********/

.icon {
    width: 0;
    height: 0;
    padding: 24px;
    background-repeat: no-repeat;
}

.icon-back {
    background-image: url("/static/icons/Back.svg");
}

.icon-menu {
    background-image: url("/static/icons/Menu.svg");
}

.icon-menu-add {
    background-image: url("/static/icons/Menu_Add.svg");
}

.icon-menu-worlds,
.icon-dimension-overworld {
    background-image: url("/static/icons/dimensions/Overworld.svg");
}

.icon-dimension-nether {
    background-image: url("/static/icons/dimensions/Nether.svg");
}

.icon-dimension-the-end {
    background-image: url("/static/icons/dimensions/End.svg");
}

.icon-priority-low {
    background-image: url("/static/icons/priority/Low.svg");
}

.icon-priority-medium {
    background-image: url("/static/icons/priority/Medium.svg");
}

.icon-priority-high {
    background-image: url("/static/icons/priority/High.svg");
}

.icon-menu-profile,
.icon-user {
    background-image: url("/static/icons/users/Profile.svg");
}

.icon-menu-users,
.icon-users {
    background-image: url("/static/icons/users/Group.svg");
}

.icon-user-add {
    background-image: url("/static/icons/users/Add.svg");
}

.icon-world-add {
    background-image: url("/static/icons/Add_World.svg");
}

.icon-menu-projects {
    background-image: url("/static/icons/menu/Projects.svg");
}

/******** Input -> Checkbox ********/

input[type="checkbox"] {
    /*transform: scale(3);*/
}

/******** FORM ********/

main:has(form),
main:has(a#add-task-doable-link) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--spacing-xl)
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    grid-row-gap: var(--spacing-lg);

    width: min(95%, 600px);
}

form > label {
    grid-column: 1 / span 3;
}

form > input {
    grid-column: 4 / span 3;
}

form > button[type="submit"] {
    grid-column: 2 / span 3;
}

/******** NAVBAR ********/

nav {
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--clr-secondary);
}

/******** MENU ********/

.menu-invisible {
    display: none;
}

.menu-visible {
    position: absolute;
    top: 0;
    left: 0;

    width: clamp(300px, 33vw, 800px);
    height: 100vh;

    background: var(--clr-secondary);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-md)
}

.menu-visible > li {
    list-style: none;
    padding-left: var(--spacing-md);
}

.menu-selected,
.menu-visible > li:hover {
    text-decoration: underline;
}

.menu-visible > li > a {
    text-decoration: none;
}

.menu-visible > :has(#menu-profile-link) {
    margin-bottom: var(--spacing-md);
}

.menu-visible > hr {
    margin-top: auto;
}

/******** PROFILE ********/

.profile-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    margin: var(--spacing-lg);
}

#profile-section-user {
    flex-direction: row;
    gap: var(--spacing-lg);
}

#profile-section-user > input {
    display: block;
}

#profile-section-connections {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-section > button,
.profile-section > a,
.profile-section > a > button {
    width: 100%
}

/******** TASK BUTTONS ********/

a#add-task-doable-link,
a#add-task-countable-link {
    width: min(25%, 250px);
}

main:has(a#add-task-doable-link) button {
    width: 100%;
}

/******** TASK OVERVIEW ********/

main:has(#task-list) {
    height: 100%;
}

ul#task-list {
    height: 100%;
}

li.task {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-md);
}

li.task > .task-name-assign {
    display: flex;
    flex-direction: column;
    width: 25%;
}

li.task > progress,
li.task > input[type="checkbox"] {
    width: 50%;
}

/******** **** ********/





