primary_region = 'arn'

[build]

[env]
    ENV = 'TEST'
    SKIP_MICROSOFT_SIGN_IN = 'true'
    MICROSOFT_CLIENT_ID=''
    MICROSOFT_CLIENT_SECRET=''
    MODRINTH_BASE_URL='https://staging-api.modrinth.com'
    MICROSOFT_LOGIN_BASE_URL='https://login.microsoftonline.com'
    XBOX_AUTH_BASE_URL='https://user.auth.xboxlive.com'
    XSTS_AUTH_BASE_URL='https://xsts.auth.xboxlive.com'
    MINECRAFT_BASE_URL='https://api.minecraftservices.com'

[http_service]
    internal_port = 8080
    force_https = true
    auto_stop_machines = 'stop'
    auto_start_machines = true
    min_machines_running = 1
    processes = ['app']

[[vm]]
    size = 'shared-cpu-1x'
    memory = '1gb'
